[submodule "components/http-parser/http-parser"]
	path = components/http-parser/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "esp-idf-lib"]
	path = esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
[submodule "components/uzlib/uzlib"]
	path = components/uzlib/uzlib
	url = https://github.com/pfalcon/uzlib.git
[submodule "components/tinycbor/tinycbor"]
	path = components/tinycbor/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "components/yaml/libcyaml"]
	path = components/cyaml/libcyaml
	url = https://github.com/tlsa/libcyaml.git
[submodule "components/yaml/libyaml"]
	path = components/yaml/libyaml
	url = https://github.com/yaml/libyaml.git
