CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_PARTITION_TABLE_FILENAME="partitions_two_ota.csv"

CONFIG_DHT22=y
CONFIG_HUMIDISTAT=y
CONFIG_HUMIDISTAT_THRESHOLD=75
CONFIG_NOTIFICATION_LED=y
CONFIG_NOTIFICATION_LED_PIN=2
CONFIG_GPIOX_EXPANDERS=y
CONFIG_HOMEASSISTANT=y

CONFIG_EVENT_LOOP_STACK_SIZE=3072
CONFIG_OTA_ALLOW_HTTP=y
CONFIG_FREERTOS_TIMER_STACKSIZE=3072

CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_RUN_TIME_STATS_USING_ESP_TIMER=y

CONFIG_ENABLE_MDNS=y
CONFIG_MDNS_MAX_SERVICES=10
CONFIG_MDNS_STACKSIZE=4096

CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y
CONFIG_ESP_SHA=y