menu "Thing Configuration"

config DHT22
    bool "Enable DHT22"

config DHT22_PIN
    int "GPIO pin used to communicate with the DHT22"
    default 4
    depends on DHT22
    range 0 16

config FAN
    bool "Enable Fan"

config FAN_PIN
    int "GPIO pin used to turn on the fan"
    default 14
    depends on FAN
    range 0 16

config FAN_HUMIDITY
    int "Percent Relative Humidty at which to turn on the fan"
    default 75
    range 0 100
    depends on FAN

choice LIGHTS
    prompt "Number of lights to support"
    default LIGHTS_NONE

config LIGHTS_NONE
    bool "No lights"

config LIGHTS_1
    bool "1 light"

config LIGHTS_2
    bool "2 light"

config LIGHTS_3
    bool "3 lights"

config LIGHTS_4
    bool "4 lights"
endchoice

menu "Light 1 settings"
    depends on LIGHTS_1 || LIGHTS_2 || LIGHTS_3 || LIGHTS_4
    config LIGHT_1_RELAY_PIN
        int "GPIO pin used to control relay"
        depends on LIGHTS_1 || LIGHTS_2 || LIGHTS_3 || LIGHTS_4
        range 0 16
        default 0

    config LIGHT_1_SWITCH_PIN
        int "GPIO pin used for the light switch (-1 for no phyical switch)"
        depends on LIGHTS_1 || LIGHTS_2 || LIGHTS_3 || LIGHTS_4
        range -1 16
        default 12
endmenu

menu "Light 2 settings"
    depends on LIGHTS_2 || LIGHTS_3 || LIGHTS_4
    config LIGHT_2_RELAY_PIN
        int "GPIO pin used to control relay"
        depends on LIGHTS_2 || LIGHTS_3 || LIGHTS_4
        range 0 16
        default 0

    config LIGHT_2_SWITCH_PIN
        int "GPIO pin used for the light switch (-1 for no phyical switch)"
        depends on LIGHTS_2 || LIGHTS_3 || LIGHTS_4
        range -1 16
        default 5
endmenu

menu "Light 3 settings"
    depends on LIGHTS_3 || LIGHTS_4
    config LIGHT_3_RELAY_PIN
        int "GPIO pin used to control relay"
        depends on LIGHTS_3 || LIGHTS_4
        range 0 16
        default 16

    config LIGHT_3_SWITCH_PIN
        int "GPIO pin used for the light switch (-1 for no phyical switch)"
        depends on LIGHTS_3 || LIGHTS_4
        range -1 16
        default 15
endmenu

menu "Light 4 settings"
    depends on LIGHTS_4
    config LIGHT_4_RELAY_PIN
        int "GPIO pin used to control relay"
        depends on LIGHTS_4
        range 0 16
        default 14

    config LIGHT_4_SWITCH_PIN
        int "GPIO pin used for the light switch (-1 for no phyical switch)"
        depends on LIGHTS_4
        range -1 16
        default -1
endmenu

config MOTION
    bool "Enable Motion detection"

config MOTION_PIN
    int "GPIO pin used to detect motion"
    depends on MOTION
    range 0 16
    default 13

config DOORBELL
    bool "Enable Doorbell function"

config DOORBELL_PIN
    int "GPIO pin used to detect presses on the doorbell"
    depends on DOORBELL
    range 0 16
    default 5

config CONNECTION_LED
    bool "Enable Wifi/MQTT connection LED"

config CONNECTION_LED_PIN
    int "GPIO pin for LED"
    depends on CONNECTION_LED
    range 0 16
    default 2
    
endmenu
