menu "Thing Configuration"

config DHT22
    bool "Enable DHT22 support"

config BME280
    bool "Enable BME280 (or BMP280) support"

config SI7021
    bool "Enable SI7021 support"

config DS18x20
    bool "Enabled DS18x20 support"
    
config HUMIDISTAT
    bool "Enable Humidistat Fan support"
    
config HUMIDISTAT_THRESHOLD
    int "Percent Relative Humidity at which to turn on the fan"
    default 75
    range 0 100
    depends on HUMIDISTAT

config CONNECTION_LED
    bool "Enable Wifi/MQTT connection LED"

config CONNECTION_LED_PIN
    int "GPIO pin for LED"
    depends on CONNECTION_LED
    range 0 16
    default 2
    
endmenu
