<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Homething Provisioning Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="icon.png">
  <link rel="stylesheet" href="normalize.css" embed>
  <link rel="stylesheet" href="skeleton.css" embed>
  <link rel="stylesheet" href="style.css" embed>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="six column" style="margin-top: 5%">
        <h1>Homething Provisioning Page</h1>
      </div>
    </div>
    <div id="config"></div>
    <div class="row">
        <div class="three columns">
            <button class="button-primary" onclick="saveConfig();" id="savebtn">Save and Apply</button>
        </div>
        <div class="nine columns" id="msg">
        </div>
    </div>
  </div>
  <script src="cbor.js"></script>
  <script src="settings.js"></script>
  <script src="script.js" embed></script>
</body>
</html>
